# Application Config
APP_PORT=8000
APP_ENV=development
APP_NAME=ims-nest-starter
APP_URL=http://localhost

# JWT Config
JWT_SECRET=your-jwt-secret-key
JWT_EXPIRATION=3600 # 1 hour in seconds

# Google Config
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret

# XSecurity Config
XSECURITY_ENABLED=false
XSECURITY_SECRET=your-XSecurity-secret
XSECURITY_MAX_ATTEMPTS=5
XSECURITY_DECAY_MINUTES=1
XSECURITY_RATE_LIMIT_ENABLED=true
XSECURITY_RATE_LIMIT_STORE_LIMIT=10000

#throttle config
THROTTLE_TTL=10
THROTTLE_LIMIT=10


# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_database_name
DB_USERNAME=postgres
DB_PASSWORD=
DB_POOL_MIN=2
DB_POOL_MAX=10

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_DB=0
REDIS_MAX_RETRIES=3
REDIS_RETRY_DELAY=50
REDIS_RETRY_DELAY_MAX=2000
REDIS_CONNECT_TIMEOUT=10000

# SMTP Config
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=your_smtp_user
SMTP_PASSWORD=your_smtp_password

